---
import ColorWrapper from '../components/ColorWrapper';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Color converter">
	<main class="m-0 h-screen w-screen bg-gray-700 p-0">
		<ColorWrapper colors={['hex', 'hexa', 'rgb', 'rgba', 'hsl', 'hsla', 'cmyk', 'cmyka', 'lab']} client:load />
	</main>
</Layout>
